# Based on https://github.com/Bioconductor/BiocManager/blob/master/.travis.yml
# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
sudo: required
cache: packages

r:
  - bioc-devel
  - bioc-release

os:
  - linux
  - osx

# Strict checks in place
warnings_are_errors: false

# Run binary install of testthat
r_binary_packages:
  - testthat
  - cluster
  - colourpicker
  - data.table
  - digest
  - dplyr
  - fastICA
  - fastmatch
  - ggplot2
  - ggrepel
  - htmltools
  - httr
  - jsonlite
  - miscTools
  - plyr
  - R.utils
  - shinyjs
  - stringr
  - survival
  - XML
  - xtable

r_packages:
  - knitr
  - rmarkdown
  - remotes
  - utils

bioc_packages:
  - BiocVersion
  - BiocStyle
  
r_github_packages: jimhester/covr
before_cache: Rscript -e 'remotes::install_cran("pkgdown")'

jobs:
  include:
    - stage: "Code coverage"
      script: Rscript -e 'library(covr);codecov()'
    - stage: "Deploy"
      deploy:
        provider: script
        script: Rscript -e 'pkgdown::deploy_site_github(verbose=TRUE)'
        skip_cleanup: true
        github-token: $GITHUB_TOKEN
        committer-from-gh: true
        on:
          branch: master
  allow_failures:
    - r: bioc-devel
    - os: osx
