/* Avoids fixed-top navbar from obscuring content */
body { padding-top: 70px; }

/* Changes alert to appear fixed on the top right above other elements */
.sbs-alert {
    position:fixed;
    right:10px;
    z-index:9;
    -webkit-filter: opacity(80%);
    filter: opacity(80%);
}

/* Change the position and display of the progress bar */
.shiny-progress-container { top: 48px; }
.shiny-progress .progress-text { width: auto; }

/* Better contrast of odd elements of the table in the grouping section */
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgb(237, 237, 237);
}

/* Styling the loading message */
#loadmessage {
    top: 15px;
    left: -100px;
    position: fixed;
    width: 100%;
    font-size: 100%;
    color: gray;
    z-index: 1050;
}