/* Avoids fixed-top navbar from obscuring content */
body { padding-top: 70px; }

/* Alert appears fixed on the top right above other elements */
.sbs-alert {
    position: fixed;
    right: 10px;
    z-index: 9;
    -webkit-filter: opacity(80%);
    filter: opacity(80%);
}

/* Progress bar right below navbar and text display */
.shiny-progress-container { top: 48px; }
.shiny-progress .progress-text { width: auto; }

/* Better contrast of odd elements of the table in the grouping section */
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgb(237, 237, 237);
}

/* Loading message located in the navbar at the right */
#loadmessage {
    top: 15px;
    left: -15px;
    position: fixed;
    width: 100%;
    font-size: 100%;
    color: gray;
    z-index: 1050;
}

/* Properly sets the loading message when the navbar is collapsed */
@media (max-width: 768px) {
    #loadmessage { left: -70px; }
}

/* Set the width of the navbar container to auto (better for bigger displays) */
@media (min-width: 768px) {
    .navbar .container { width: auto; }
}

/* Align element with selectize input */
.inline_selectize { 
    margin-top: 25px;
}

/* Add danger style to modal headers 
Adapted from: http://bootsnipp.com/snippets/featured/colored-modal-headings */
.modal-header-danger {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/* Add info style to modal headers
Adapted from: http://bootsnipp.com/snippets/featured/colored-modal-headings */
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/* Add warning style to modal headers
Adapted from: http://bootsnipp.com/snippets/featured/colored-modal-headings */
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/* Make the active item from the selectize.js dropdown more noticeable */
.selectize-dropdown .active {
    background-color: #1C7AB4;
    color: white;
}