/* Avoids fixed-top navbar from obscuring content */
body { padding-top: 70px; }

/* Hides shadows from well panels */
.well {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Alert appears fixed on the top right above other elements */
.sbs-alert {
    position: fixed;
    right: 10px;
    z-index: 9;
    -webkit-filter: opacity(80%);
    filter: opacity(80%);
}

/* Progress bar right below navbar and style progress display */
.shiny-progress-container { top: 50px; }
.shiny-progress .progress-text { 
    width: auto; 
    height: 18px; 
    top: 0 !important;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.70);
}
.shiny-progress .progress { 
    height: 18px; 
    border-radius: 0;
}

/* Loading message located in the navbar at the right */
#loadmessage {
    top: 65px;
    left: -15px;
    position: fixed;
    width: 100%;
    font-size: 100%;
    color: gray;
    z-index: 1050;
}

/* Properly sets the loading message when the navbar is collapsed */
@media (max-width: 768px) { #loadmessage { left: -70px; } }

/* Set the width of the navbar container to auto (better for bigger displays) */
@media (min-width: 768px) { .navbar .container { width: auto; } }

/* Align element with selectize input */
.inline_selectize { margin-top: 25px; }

/* Add error style to modal headers 
Adapted from: http://bootsnipp.com/snippets/featured/colored-modal-headings */
.modal-content .error {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/* Add info style to modal headers
Adapted from: http://bootsnipp.com/snippets/featured/colored-modal-headings */
.modal-content .info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/* Add warning style to modal headers
Adapted from: http://bootsnipp.com/snippets/featured/colored-modal-headings */
.modal-content .warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/* Make the active item from the selectize.js dropdown more noticeable */
.selectize-dropdown .active, .selectize-dropdown .active.create {
    background-color: #1C7AB4;
    color: white;
}

/* Make the active item from the selectize.js dropdown more noticeable */
.selectize-dropdown .active {
    background-color: #1C7AB4;
    color: white;
}

/* Make the text complete dropdown apper above everything (even modals) */
.textcomplete-dropdown { z-index: 10000 !important; }

/* Style an ordered list */
#list {
    list-style-type: none;
    list-style-type: decimal !ie; /* Hackf or IE 7 hack */
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}

#list > li{
    position: relative;
    margin-bottom: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#list > li:before {
    position: absolute;
    top: -0.1em;
    left: -1.2em;
    width: 1em;
 
    font-size: 2.5em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
     
    z-index: -99;
    overflow: hidden;
     
    content: counter(li-counter);
    counter-increment: li-counter;
}

/* Avoid wrapping content of DataTables */
table { white-space: nowrap; }